@define-color bg #1e1d2f;  
@define-color fg #d9e0ee;  
@define-color lightbg #2F2F4C;

/* CATPPUCCIN */
@define-color black #6e6c7e;
@define-color red #f28fad;
@define-color green #abe9b3;
@define-color yellow #fae3b0;
@define-color blue #96cdfb;
@define-color magenta #ddb6f2;
@define-color cyan #f5c2e7;
@define-color white #c3bac6;


* {
    padding: 0px 5px;
    margin: 2px 1px;
    border: none; border-radius: 6px;
    font-family: "monospace";
    font-size: 18px;
}

/* icons start at U+E900 in Jetbrains mono in gucharmap */

window#waybar {
    background-color: @bg;
    color: @lightbg;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 0;
}

#workspaces {
    margin-left: 0px;
    padding-left: 0px;
}

#workspaces button {
    background-color: transparent;
    color: @fg;
    min-width: 36px;
}

#workspaces button.active {
    background-color: @red;
    color: @bg;
    min-width: 36px;
}

#workspaces button.urgent {
    background-color: @yellow;
}

#clock {
    color: @fg
}
#network,
#pulseaudio,
#tray,
#window,
#battery {
    color: @red;
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @bg;
}

#cpu {
    color: @blue;
}

#memory {
    color: @green;
}

#backlight {
    color: @yellow;
}

#pulseaudio {
    color: @cyan;
}

#pulseaudio.muted {
    background-color: @cyan;
    color: @bg;
}

#network {
    color: @magenta;
}

#tray {
}