* {
  bg-col:  #1E1D2F;
  bg-col-light: #1E1D2F;
  border-col: #F28FAD;
  selected-col: #2F2F4C;
  blue: #7AA2F7;
  fg-col: #D9E0EE;
  fg-col2: #F28FAD;
  grey: #D9E0EE;
  /* width: 600; */
}

window {
  anchor: center;
}

