
// Choose what to do when zellij receives SIGTERM, SIGINT, SIGQUIT or SIGHUP
// eg. when terminal window with an active zellij session is closed
// Options:
//   - detach (Default)
//   - quit
//
on_force_close "quit"

// Choose the path to the default shell that zellij will use for opening new panes
// Default: $SHELL
//
default_shell "nu"

// Toggle between having pane frames around the panes
// Options:
//   - true (default)
//   - false
//
pane_frames false

// Choose the theme that is specified in the themes section.
// Default: default
//
theme "catppuccin-mocha" 

// The name of the default layout to load on startup
// Default: "default"
//
default_layout "compact"

// Configure the scroll back buffer size
// This is the number of lines zellij stores for each pane in the scroll back
// buffer. Excess number of lines are discarded in a FIFO fashion.
// Valid values: positive integers
// Default value: 10000
//
// scroll_buffer_size 10000

// Enable or disable automatic copy (and clear) of selection when releasing mouse
// Default: true
//
// copy_on_select false

keybinds {
	unbind "Ctrl h"
	unbind "Ctrl b"
	shared_except "locked" {
		bind "Alt q" { CloseFocus; }
	}
	move {
	    bind "Ctrl b" { SwitchToMode "normal"; }
	}
	shared_except "move" "locked" {
	    bind "Ctrl b" { SwitchToMode "move"; }
	}
}